.accordion-body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0.3rem;
}

.card {
	align-items: center;
	margin: 0.5rem;
}

.card-header {
	width: 100%;
}

.container {
	padding: 0;
}
